<div class="courses-panel">
    <h3>Hello</h3>
    <mat-tab-group>
        <mat-tab label="Beginners">
            <!--<app-courses-card-list [courses]="beginnerCourses"></app-courses-card-list>-->
            <mat-card *ngFor="let c of beginnerCourses" class="course-card mat-elevation-z10">
                <mat-card-header>
                    <mat-card-title>{{c.description}}</mat-card-title><!---->
                </mat-card-header>
                <mat-card-content>
                    <p>{{c.longDescription}}</p>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Advanced">
            <!--<app-courses-card-list [courses]="advancedCourses"></app-courses-card-list>-->
            <mat-card *ngFor="let c of advancedCourses" class="course-card mat-elevation-z10">
                <mat-card-header>
                    <mat-card-title>{{c.description}}</mat-card-title><!--{{course.description}}-->
                </mat-card-header>
                <mat-card-content>
                    <p>{{c.longDescription}}</p>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>

